body {
    /* font-family: 'Titillium Web', sans-serif; */
    --navy: #002642;
    --red: #840032;
    --yellow: #E59500;
    --white: #E5DADA;
    --black: #02040F;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--navy);
    color: var(--white);
    border-bottom: 1px solid black;
    margin: 0;
    margin-bottom: 1rem;
    padding: .5rem;
    padding-bottom: .5rem;
    box-shadow: var(--shadow);
}

header h1 {
    font-weight: 100;
}

#bulletin-container {
    border: 1rem solid #840032;
    height: 30em;
    width: 40em;
    background-image: url('../assets/bulletinboard.jpg');
    /* background-color: var(--yellow); */
    border-radius: 1rem;
    
}